/* utf-8 */

body {
    background-color: #eee;
    color: black;
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
    .container {
      width: 100%;
      max-width: 100%;
    }
  }
  
  .album {
    padding-top: 50px;
  
  }
  
  .items {
    display: flex;
    flex-wrap: wrap;
  }
  
  @media (max-width: 575px) {
    .item {
      width: calc(50% - 10px);
      margin-right: 20px;
      margin-bottom: 20px;
      border: 0;
    }
  
    .item:nth-child(2n) {
      margin-right: 0;
    }
  }
  
  @media (min-width: 576px) {
    .item {
      width: calc((100% - 20px * 2) / 9 - 1px); /* IE対策のため変な計算になってる… */
      margin-right: 0px;
      margin-bottom: 20px;
    }
  
    .item:nth-child(3n) {
      margin-right: 0;
    }
  }
  
  .item img {
    max-width: 100%;
    height: auto;
  }
  
  .card-title {
    margin-top: 0.75em;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
  }
  
  .card-text {
    font-size: 200%;
    text-align: justify;
    color: black;
  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  
  /* footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  */
  
  h1 {
    font-size: 200%;
  }
  
  p {
    color: black;
    text-align: center;
  }
  
  .float-right {
  float: right;
  }
  
          /*Setting Basic Dimensions to give
          .container{
              margin: 0 auto;
              width: 90%;
          }
          .large_view{
              width: 80%;
              height: 25rem;
          } */
  
          .large_view img{
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
          .side_view{
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
          }
          .side_view img{
              width: 9rem;
              height: 7rem;
              object-fit: cover;
              cursor: pointer;
              cursor: zoom-in;
              margin:0.5rem;
          }
  
  #large {
  cursor: not-allowed
  }
  
  img {
  cursor: zoom-in
  }
  